.wrap {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .wrap {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  .wrap {
    max-width: 1320px;
  }
}
